* {
  margin: 0;
  padding: 0;
}
img{
  overflow: hidden
  
}

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');
:root {
  --secondary_bgColor: rgb(88, 88, 88);
  --secondary_fontColor: rgb(132, 208, 244);
  --primary_fontColor: white;
  --tertiary_fontColor: black;
  --primary_bgColor: black;
  --card_bg: rgb(49, 49, 49);
  --primary_cardBg: rgb(49, 49, 49);
  background-color: var(--primary_bgColor);
  color: var(--primary_fontColor);
}

.container {
  /* padding-top: 5vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Signika", sans-serif;
  background-color: var(--primary_cardBg);
  /* background-image: linear-gradient(to bottom right,rgb(80, 80, 80),rgb(120, 120, 173)); */
  margin-bottom: 40px;
  border-radius: 1.8rem;
  font-weight: 400;
  box-shadow: 10px 10px 30px rgba(5, 188, 255, 0.5);
}

.all__desc{
  font-style:oblique;
}

@media screen and (min-width: 780px) {
  .container {
    min-height: 100vh;
    width: 60vw;
    margin-left: 34vw;
  }
}
