.card__container {
  background-color: var(--primary_cardBg);
  border: 2px solid white;
  margin: 30px 20px;
  border-radius: 10px;
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex-direction: column;
  background-color: var(--card_bg);
  box-shadow: 7px 7px 20px rgba(207, 241, 253, 0.5);
}
.card__container:hover{
  transition: .3s;
  transform: translateY(-15px);
  box-shadow: 10px 10px 30px rgba(207, 241, 253, 0.5);
}

.card__text {
  margin: 0 10px;
}

.card__site-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80vw;
  margin: 0;
}

.card__link {
  margin: 10px 20px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
}

.card__link:hover {
  background-color: white;
  color: black;
}

.card__heading {
  margin: 4px 0;
  color: var(--secondary_fontColor);
}
.card__desc {
  margin-bottom: 14px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card__icon-container {
    display: none;
  }

@media screen and (min-width: 780px) {
  .card__container {
    max-width: 400px;
    transition: 0.5s;
    height: 300px;
  }
  .card__link {
    display: none;
  }
  .card__site-img {
    width: 400px;
    height: 200px;
    margin: 0;
  }
  /* img{
  overflow: hidden;
} */
  .card__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    display: none;
    background: rgba(81, 223, 255, 0.3);
    margin: 0;
  }

  .card__icon {
    color: white;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .card__icon:hover {
    color: rgb(0, 0, 52);
  }
  .card__header:hover .card__site-img {
    display: none;
  }
  .card__header:hover .card__icon-container {
    display: flex;
  }
}
